
@font-face {
  font-family: 'Gafata';
  font-style: normal;
  font-weight: 400;
  src: local('Gafata'), local('Gafata-Regular'), url(http://themes.googleusercontent.com/static/fonts/gafata/v3/QgBsUT7IYkuK0zcmWhu2q-vvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}

.glyphicon{
	float: right;
}

.panel-heading{
	color: #BDDEB3;
}

h4{
	font-family: BebasNeue;
	font-size: 50px;
}

.collapse-logo{
	width: 100px;
	height: 100px;
}

p{
	font-family: Gafata;
	font-size: 18px;
}

